.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverable:hover {
  /* background-color: #72d6b5; */
  background-color: #EBF3FF;
  cursor: pointer;
}

.left-table {
  border: 1px solid;
  border-radius: 10px;
  padding: 1% 3%;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(13 13 13 / 15%);
  border-color: lightgray;
  width: 65%;
  height: 60%;
}

.mat-cell {
  text-align: center;
}

.mat-header-row {
  min-height: 30px;
  text-align: center;
  background-color: rgb(114, 214, 181, 0.25);
  border-radius: 5px;
}

.mat-row {
  min-height: 28px;
  border-radius: 5px;
}

.body {
  display: flex;
  justify-content: space-between;
  padding: 2% 3%;
}

/* .mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 0 0 14%;
  border: 0px;
  text-align: center;

} */

/* .mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 0 0 18%;
  border: 0px;
  text-align: center;

} */

/* .mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: 0 0 18%;
  border: 0px;
  text-align: center;

} */

/* .mat-cell:nth-child(4),
.mat-header-cell:nth-child(4){
  flex: 0 0 18%;
  border: 0px;
  text-align: center;

} */

/* .mat-cell:nth-child(5),
.mat-header-cell:nth-child(5){
  flex: 0 0 18%;
  border: 0px;
  text-align: center;

} */

/* .mat-cell:nth-child(6),
.mat-header-cell:nth-child(6){
  flex: 0 0 18%;
  border: 0px;
  text-align: center;

}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7){
  flex: 0 0 18%;
  border: 0px;
  text-align: center;
} */

.mat-sort-header-container {
  margin-left: 30%;
}

.right-table {
  margin-right: 1%;
  width: 30%;
  height: 60%;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}


/* .mat-cell2:nth-child(1),
.mat-header-cell2:nth-child(1){
  flex: 0 0 45%;
  border: 0px;
  text-align: center;
}

.mat-cell2-footer:nth-child(1) {
  flex: 0 0 45%;
  border: 0px;
  text-align: center;
}

.mat-cell2-footer:nth-child(2) {
  flex: 0 0 18%;
  border: 0px;
  text-align: center;
}

.mat-cell2-footer:nth-child(3) {
  flex: 0 0 17%;
  border: 0px;
  text-align: center;
} */

.mat-cell2-footer {
  max-height: 30px;
}

h6 {
  text-align: center;
  margin: 0 0 5% 0;
}

h5 {
  margin: 0;
  font-weight: 400;
}

.card-title {
  margin-bottom: 0;
}

.dividend {
  color: white;
  border: 1px solid;
  font-weight: 400;
  border-radius: 5px;
  background-color: #73BF78;
  flex: 0 0 12% !important;
  padding-left: 1.5%;
  margin-left: -4%;
}

.buy {
  color: white;
  font-weight: 400;
  border: 1px solid;
  border-radius: 5px;
  background-color: #70BFFF;
  flex: 0 0 6% !important;
  padding-left: 1%;
  margin-left: -1%;

}

.sell {
  color: white;
  font-weight: 400;
  border: 1px solid;
  border-radius: 5px;
  background-color: #E9C649;
  flex: 0 0 7% !important;
  padding-left: 1%;
  margin-left: -1%;
}

.div-card {
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

.div-data {
  height: 45%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.div-data-row {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  width: 80%;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 0 auto;
}

.type-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-left: 3%;
}

.exDivDate-attention {
  border: 1px solid white;
  font-weight: 400;
  border-radius: 5px; 
  background-color: #FECF72;
  padding: 0% 2%;
}

.exDivDate-danger {
  color: white;
  border: 1px solid white;
  font-weight: 400;
  border-radius: 5px; 
  background-color: #e32636;
  padding: 0% 2%;
}

.exDivDate-attention-legend {
  border: 1px solid white;
  font-weight: 400;
  border-radius: 5px; 
  background-color: #FECF72;
  padding: 0.3% 4.5%;
}

.exDivDate-danger-legend {
  color: white;
  border: 1px solid white;
  font-weight: 400;
  border-radius: 5px; 
  background-color: #e32636;
  padding: 0.3% 4.5%;
}