<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body body">
                        <div>
                            <mat-table #table [dataSource]="dataSource" class="mat-cell">
                                <ng-container matColumnDef="ticker">
                                    <th mat-header-cell *matHeaderCellDef>Ticker</th>
                                    <td mat-cell *matCellDef="let stock">{{ stock.ticker }}</td>
                                </ng-container>

                                <ng-container matColumnDef="totalQuantity">
                                    <th mat-header-cell *matHeaderCellDef>Total Quantity</th>
                                    <td mat-cell *matCellDef="let stock">{{ stock.totalQuantity }}</td>
                                </ng-container>

                                <ng-container matColumnDef="avgPrice">
                                    <th mat-header-cell *matHeaderCellDef>Avg Price</th>
                                    <td mat-cell *matCellDef="let stock">{{ stock.avgPrice }}</td>
                                </ng-container>

                                <ng-container matColumnDef="totalCost">
                                    <th mat-header-cell *matHeaderCellDef>Total Cost</th>
                                    <td mat-cell *matCellDef="let stock">{{ stock.totalCost }}</td>
                                </ng-container>

                                <ng-container matColumnDef="weight">
                                    <th mat-header-cell *matHeaderCellDef>Weight</th>
                                    <td mat-cell *matCellDef="let stock">{{ stock.weight }}</td>
                                </ng-container>

                                <ng-container matColumnDef="sector">
                                    <th mat-header-cell *matHeaderCellDef>Sector</th>
                                    <td mat-cell *matCellDef="let stock">{{ stock.sector }}</td>
                                </ng-container>

                                <!-- Define table rows -->
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let stock; columns: displayedColumns;"
                                    (click)="logRowData(stock)" class="hoverable"></tr>
                            </mat-table>
                        </div>
                        <div>
                            <!-- <h6 class="card-category text-gray">KO</h6> -->
                            <h4 class="card-title">KO</h4>
                            <span>Shares: {{selectedStock.totalQuantity}}</span>
                            <span>Price: {{selectedStock.avgPrice}}</span>
                            <span>Cost: {{selectedStock.totalCost}}</span>

                            <mat-table #table [dataSource]="selectedStockSource">
                                <ng-container matColumnDef="quantity">
                                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                                    <td mat-cell *matCellDef="let selectedStock">{{ selectedStock.quantity }}</td>
                                </ng-container>

                                <ng-container matColumnDef="price">
                                    <th mat-header-cell *matHeaderCellDef>Price</th>
                                    <td mat-cell *matCellDef="let selectedStock">{{ selectedStock.price }}</td>
                                </ng-container>

                                <ng-container matColumnDef="cost">
                                    <th mat-header-cell *matHeaderCellDef>Cost</th>
                                    <td mat-cell *matCellDef="let selectedStock">{{ selectedStock.cost }}</td>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef>Purchase Date</th>
                                    <td mat-cell *matCellDef="let selectedStock">{{ selectedStock.date }}</td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="selectedStockDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let selectedStock; columns: selectedStockDisplayedColumns;">
                                </tr>
                            </mat-table>
                            <button class="btn btn-danger btn-round">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>